body{
        font-family: var(--font-primary);

}

/* aside */

.logoArea {
    display: flex;
    align-items: center;
    margin-top: 14px;
    margin-bottom: 40px;
    gap: 12px;
    height: 55px;
    padding-left: 40px;
    box-sizing: border-box;
}




.aside-text {
    color: rgba(195, 200, 212, 1);
    font-size: 20px;
}


.sideBar-text {
    color: white;
    font-size: 14px;
    line-height: 13px;
}


a{
    color:var(--sidebar-text-color);
    text-decoration: none;
}

.sideBar-item {
    width: 100%;
    padding-left: 30px;
    display: flex;
    height: 50px;
    margin-top: 5px;
    border-radius: 8px;
    padding-left: 25px;
    color: var(--sidebar-text-color);
    cursor: pointer;
    transition: background-color 0.35s ease,
    color 0.35s ease;
}

.sideBar-item img {
    transition: filter 0.35s ease;
    margin-left: 7px;
}

.sideBar-text {
    margin: 0;
    font-size: 14px;
    line-height: 1;
    color: inherit;
}

.sideBar-item:hover {
    background-color: var(--sidebar-card-color);
}

/* .sideBar-item:hover img {
    filter: brightness(0) invert(1);
} */

.lowerAside {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 55px;
    padding-left: 40px;
    padding-right: 16px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--sidebar-text-color);
    cursor: pointer;
    transition:
        background-color 0.35s ease,
        color 0.35s ease;
}

.logout-text {
    margin: 0;
    font-size: 14px;
    color: inherit;
}

.lowerAside img {
    width: 18px;
    height: 18px;
    transition: filter 0.35s ease;
    color: var(--sidebar-text-color);

   
}

.lowerAside:hover {
    background-color: var(--sidebar-card-color);
    color: var(--card-number-color);
}






p {
    margin: 0;
}


.asideContainer {
    background-color: var(--sidebar-bg);
    width: 250px;
    flex-shrink: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}



.sideBar-item {
    width: 100%;
    height: 50px;
    padding-left: 40px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 8px;
    color: var(--sidebar-text-color);
    cursor: pointer;
    transition: background-color 0.35s ease, color 0.35s ease;
}











/*  Aside end */


/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 116px 70px 24px;
    /* position: fixed; */


    width: calc(100vw - 250px);
    background-color: var(--bg-color);
}

.rightHeaderSection{
    display: flex;
    align-items: center;
    gap: 12px;
}

.rightSection{
    display: flex;
    align-items: center;
    gap: 10px;
}

.admin-text{
    font-size: 13px;
    color: var(--header-name-color);
    line-height: 100%;
    font-weight: 500;
    margin-bottom: 5px;

}
.page-text{
    font-size: 20px;
    color: var(--card-number-color);
    font-weight: 500;
    line-height: 100%;

}



.create-btn{
    font-size: 14px;
    line-height: 100%;
    font-weight: 500;
    color: var(--card-number-color);
    background-color: var(--primary-color);
    padding: 12px 24px ;
    border-radius: 4px;
    outline: none;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.create-btn:hover{
    background-color: var(--card-bg-purple);
}



.rightHeaderSection img{
    width: 31px;
    height: 31px;
    border-radius: 50%;
    display: block;
}


.profileName{
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
    line-height: 13px;
    font-weight: 500;
} 

/* header end */




.active{
    background-color: var(--sidebar-card-color);
    color: var(--card-number-color);
}


.sideBar-item.active img {
  filter: brightness(0) invert(1);
}
