@import url('https://fonts.googleapis.com/css2?family=Numans&family=Poppins:wght@600&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
  --font-primary: 'Raleway', sans-serif;

  --primary-color: #9B51E0;
  --border-color: #808080;

  --bg-color: rgba(23, 22, 22, 1);
  --detail-page-bg: rgba(29, 29, 29, 1);
  --sidebar-bg: rgba(30, 30, 30, 1);
  --input-bg-color: #323B54;

  --sidebar-text-color: #AEAEAE;
  --header-name-color: #CCCCCC;
  --landing-page-logo-color: #C3C8D4;
  --input-text-color: #BCBCBC;
  --card-number-color: #FFFFFF;
  --text-placeholder: #475069;

  --card-bg: rgba(45, 45, 45, 1);
  --card-bg-purple: rgba(101, 47, 141, 1);
  --sidebar-card-color: rgba(88, 32, 157, 1);
}

