html {
    background: #171616;
}

.user-container{
    display: flex;
 
}

main {
    flex: 1;
    min-width: 0;
    background-color: var(--bg-color);
    height: 100vh;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}


.profileName{
  margin-right: 60px;
}



.table {
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    width: 90%;
    margin: 24px;



}



.table td,
.table th {
    vertical-align: middle;
    height: 60px;
}

.pagination-container {
  width: 90%;
  margin: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
